{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<table class="table table-striped">
		{% for friend in friends %}
			<tr>
				<td><img src="{{ friend.avatar }}"></td>
				<td><a href="http://steamcommunity.com/profiles/{{ friend.id }}">{{ friend.name }}</a></td>
				<td>{{ friend.compatibility_score }}</td>
				<td><progress value="{{ friend.compatibility_score }}" max="100"></progress></td>
				<td>{{ friend.genre_scores }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div class="col-md-3">
	</div>
</div>
{% endblock %}
